<div class="wrapper" style="border: 3px solid #6272a4; border-radius: 5px; background-color: #fff4e6; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;">
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(  7,   7,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb( 31,   7,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb( 47,  15,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb( 71,  15,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb( 87,  23,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(103,  31,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(119,  31,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(143,  39,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(159,  47,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(175,  63,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(191,  71,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(199,  71,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(223,  79,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(223,  87,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(223,  87,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(215,  95,   7);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(215, 103,  15);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(207, 111,  15);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(207, 119,  15);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(207, 127,  15);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(207, 135,  23);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(199, 135,  23);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(199, 143,  23);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(199, 151,  31);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(191, 159,  31);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(191, 159,  31);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(191, 167,  39);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(191, 167,  39);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(191, 175,  47);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(183, 175,  47);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(183, 183,  47);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(183, 183,  55);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(207, 207, 111);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(223, 223, 159);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(239, 239, 199);"></div>
    <div style="border: 1px solid #ffb86c;border-radius: 0px;padding: 0.5em;background-color: rgb(255, 255, 255);"></div>
</div>
